/* mashable.data GlobalCSS */
/*                         */
/*                         */
/***************************/

html {
    -webkit-font-smoothing: antialiased;  /* Webkit Browser font smoothing */
    overflow-y: scroll;                   /* Force scroll bar always*/
}

body, html {
    background-color:#FCFCFC;
    /*margin-bottom:60px;*/
}
button, input, label, select { vertical-align: absmiddle; }
/* Accessibility Items */
.accessibility {
    left: -12345px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100px;
}
/* Clearing */

.clearfix:after {
    clear:both;
    content: ".";
    display:block;
    height:0;
    visibility:hidden;
}
/* Highlighter ***************************************/
::selection {
    background-color: #FF0;
}
::-moz-selection {
    background: #FF0;
}

h3 {
	padding-bottom:20px;
}

#header {
	background-color:#000;
	height:76px;
	width: 100%;
	//position:fixed;
	//z-index:20;
	padding-left:20px;
	padding-bottom:10px;
}
#wrapper {
	padding-left:20px;
	padding: 10px 20px;
}
#footer {
  font-size: 11px;
  margin: 0;
  margin-top: 50px;
  padding: 20px;
  clear: both;
  overflow: hidden;
  text-align: left;
  background: #484848;
  width: auto;
  height:200px;
}
#footer-wrap {
  font-size: 11px;
  margin: 0 auto 0;
  padding: 10px 20px;
  clear: both;
  text-align: left;
  background: #000;
  color:#636262;
  width: 100%;
  border-bottom: 1px solid #555;
  height:180px;
}