
#mashabledata_panel{
    width: 700px;
    height: 300px;
    z-index: 1001;
    position: absolute;
    right: 10px;
    top: 10px;
    border: thin solid #444444;
    background-color: #ffffff;
    color: #333333;
    font-size: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    overflow: hidden;
}
#mashabledata_panel h3{
    display: inline-block;
    margin: 5px;
}
#mashabledata_panel fieldset{
    display: inline-block;
    margin: 1px 4px;
}
#mashabledata_panel button{
    margin: 4px 5px 5px 10px;
    padding: 1px 7px;
    color: #000000;
    min-width: 55px;
    cursor: pointer;
}
#mashabledata_panel select{
    width: 75px;
    margin: 3px 3px 3px 7px;
}
#mashabledata_panel>span{
    float: right;
}
span.mashabledata_star, span.mashabledata_nostar, span.mashabledata_asc, span.mashabledata_desc, span.mashabledata_these{
    height:16px;
    width:16px;
    cursor:pointer;
    text-indent: -99999px;
    display: inline-block;
    float: none;
}
span.mashabledata_these{
    background: no-repeat url('md_assets.png') -74px -31px;
    margin-left: 4px;
    position: relative;
    top: -6px;
}
span.mashabledata_nostar{background: no-repeat url('md_assets.png') 0px -115px;}
span.mashabledata_star, span.mashabledata_nostar:hover{
    background: no-repeat url('md_assets.png') -20px -115px;
}
span.mashabledata_desc{
    background: no-repeat url('md_assets.png') -46px -115px;
    width:8px;
    float: right;
}
span.mashabledata_asc{
    background: no-repeat url('md_assets.png') -111px -115px;
    width:8px;
    float: right;
}

.mashabledata_png {background: no-repeat url('md_assets.png') -68px -50px  ; height:20px; width:32px;cursor:pointer;text-indent: -99999px; display: inline-block;}
.mashabledata_png:hover{background: no-repeat url('md_assets.png') -68px -72px  ;}
.mashabledata_jpg {background: no-repeat url('md_assets.png') -102px -50px  ; height:20px; width:32px;cursor:pointer;text-indent: -99999px; display: inline-block;}
.mashabledata_jpg:hover{background: no-repeat url('md_assets.png') -102px -72px  ;}
.mashabledata_svg {background: no-repeat url('md_assets.png') -136px -50px  ; height:20px; width:32px;cursor:pointer;text-indent: -99999px; display: inline-block;}
.mashabledata_svg:hover{background: no-repeat url('md_assets.png') -136px -72px  ;}
.mashabledata_pdf {background: no-repeat url('md_assets.png') -170px -50px  ; height:20px; width:32px;cursor:pointer;text-indent: -99999px; display: inline-block;}
.mashabledata_pdf:hover{background: no-repeat url('md_assets.png') -170px -72px  ;}

#mashabledata_tabs{
    position: relative;
    bottom: 0;
    background-color: rgb(162,196,201);
    height: 300px;
    border-top: thin grey solid;
}
#mashabledata_tabs>span:first-of-type{
    float: right;
    margin: 1px 5px;
}
#mashabledata_panel ol{
    padding: 10px 50px 0 0;
    display: inline;
    position: relative;
    top: 5px;
    margin-left: 5px;
}


#mashabledata_panel li{
    font-size: 12px;
    display: inline;
    width: 100px;
    background-color: #dddddd;
    color: #888888;
    padding: 0 10px;
    margin: 0 2px;
    border: thin black solid;
}
#mashabledata_panel li a, #mashabledata_panel li a:hover{
    color: #000000;
    text-decoration: no-underline;
}
#mashabledata_panel li span{
    padding-left: 10px;
}
#mashabledata_panel li.mashabledata_recents:hover,
#mashabledata_panel li.mashabledata_recents.mashabledata_active{
    background-color: #eef3f6;
    border-top: 1px solid #6ca6cd;
    border-left: 1px solid #6ca6cd;
    border-right: 1px solid #6ca6cd;
    border-bottom: none;
    padding-bottom: 1px;
    cursor: pointer;
}
#mashabledata_panel li.mashabledata_bookmarks:hover,
#mashabledata_panel li.mashabledata_bookmarks.mashabledata_active{
    background-color: #fbf9e9;
    border-top: 1px solid #e3cf57;
    border-left: 1px solid #e3cf57;
    border-right: 1px solid #e3cf57;
    border-bottom: none;
    padding-bottom: 1px;
    cursor: pointer;
}

#mashabledata_panel input.mashabledata_filter{
    width: 175px;
}
#mashabledata_panel input.mashabledata_inputmsg{
    font-style: italic;
    color: #888888;
}

#mashabledata_recents{
    background-color: #eef3f6;
    border-top: 1px solid #6ca6cd;
    border-bottom: 1px solid #6ca6cd;
    padding-top: 10px;
    height: 210px;
}
#mashabledata_bookmarks{
    background-color: #fbf9e9;
    border-top: 1px solid #e3cf57;
    border-bottom: 1px solid #e3cf57;
    padding-top: 10px;
    height: 210px;
    display: none;
}
.mashabledata_scroll{
    overflow-y: scroll;
    height: 190px;
}
#mashabledata_panel table{
    border: none;
    margin: 0;
    padding: 0;
    width: 680px;
}
#mashabledata_panel th{
    background-color: #000000;
    color: #ffffff;
    padding: 2px;
}
#mashabledata_panel td{
    background-color: #ffffff;
    padding: 2px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mashabledata_cell_check{
    width: 15px;
    max-width: 15px;
}
.mashabledata_cell_check span{
    margin-left: 99999px;
}
.mashabledata_cell_bookmark{
    width: 15px;
    cursor: pointer;
}
.mashabledata_cell_name{
    width: 260px;
    max-width: 260px;
}
.mashabledata_cell_units{
    width: 110px;
    max-width: 110px;
}
.mashabledata_cell_f{
    width: 15px;
    max-width: 15px;
}
.mashabledata_cell_from, .mashabledata_cell_to{
    width: 50px;
    max-width: 50px;
}
.mashabledata_cell_viewed{
    width: 50px;
    max-width: 50px;
}
.mashabledata_cell_url{
    width: 90px;
    max-width: 90px;
    cursor: pointer;
}
.mashabledata_star{

}
.mashabledata_nostar{

}
#mashabledata_panel input[type="radio"]{
    margin: 3px 5px 3px 10px;
}
#mashabledata_cancel{
    float: right;
}
#mashabledata_download{
    margin-left: 0;
}
#mashabledata_panel label{
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    height: 20px
}
#mashabledata_check_all{
    font-style: italic;
    cursor: pointer;
}